@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

:root {
    --background-color: black;
    /* Background color */
    --main-color: #F4FFCA;
    /* Main color */
}

body {
    font-family: "Inria Serif";
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin: 0;
    overflow-x: hidden;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

#subtitle {
    font-size: 32px;
}

.countdown div {
    text-align: left;
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

}

img {
    width: 450px;
    height: auto;
}

header {
    color: var(--background-color);
    font-family: "Sarina";
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
}

.top-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    flex-wrap: wrap;

}

.countNumer {
    color: var(--background-color);
    font-family: "Inria Serif";
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#seconds {
    font-size: 40px !important;
    margin-bottom: 35px;
    background-color: var(--background-color);
    color: var(--main-color);
    min-width: 50px;

}

.singelCounter {
    text-align: left !important;

}

.subtitleCounter {
    color: var(--background-color);
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inner-top-Content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

.upcoming-Events {
    background-color: var(--background-color);
    padding: 40px 10% 40px 10%;
    align-items: center !important;
}

@media only screen and (max-width: 560px) {
    .countNumer {
        font-size: 50px;
    }

    .top-Content {
        padding: 40px 0 40px 0;
    }

    #seconds {
        font-size: 20px !important;
        min-width: 25px;
    }

    #subtitle {
        font-size: 20px;
    }

    img {
        flex-grow: 1;
        width: 90%;
    }
}